@charset "utf-8";

b {
  font-weight: 600;
}

a,
button {
  transition: none;
  vertical-align: middle;
}

.ml-xlarge {
  margin-left: var(--arko-contents-gap-xlarge) !important;
}
.ml-large {
  margin-left: var(--arko-contents-gap-large) !important;
}
.ml-medium {
  margin-left: var(--arko-contents-gap-medium) !important;
}
.ml-small {
  margin-left: var(--arko-contents-gap-small) !important;
}
.ml-xsmall {
  margin-left: var(--arko-contents-gap-xsmall) !important;
}

.mr-xlarge {
  margin-right: var(--arko-contents-gap-xlarge) !important;
}
.mr-large {
  margin-right: var(--arko-contents-gap-large) !important;
}
.mr-medium {
  margin-right: var(--arko-contents-gap-medium) !important;
}
.mr-small {
  margin-right: var(--arko-contents-gap-small) !important;
}
.mr-xsmall {
  margin-right: var(--arko-contents-gap-xsmall) !important;
}

.mt-xlarge {
  margin-top: var(--arko-contents-gap-xlarge) !important;
}
.mt-large {
  margin-top: var(--arko-contents-gap-large) !important;
}
.mt-medium {
  margin-top: var(--arko-contents-gap-medium) !important;
}
.mt-small {
  margin-top: var(--arko-contents-gap-small) !important;
}
.mt-xsmall {
  margin-top: var(--arko-contents-gap-xsmall) !important;
}

.mb-xlarge {
  margin-bottom: var(--arko-contents-gap-xlarge) !important;
}
.mb-large {
  margin-bottom: var(--arko-contents-gap-large) !important;
}
.mb-medium {
  margin-bottom: var(--arko-contents-gap-medium) !important;
}
.mb-small {
  margin-bottom: var(--arko-contents-gap-small) !important;
}
.mb-xsmall {
  margin-bottom: var(--arko-contents-gap-xsmall) !important;
}

.pt-0 {
  padding-top:0 !important;
}

.v-mid {
  vertical-align: middle !important;
}

/* point color */
.font-color-pri {
  color: var(--arko-primary-color) !important;
}
.font-color-brand {
  color: var(--arko-brand-color) !important;
}

/* btn */
.krds-btn {
  --krds-button--radius-medium: var(--arko-border-radius-default);
  background-color: var(--arko-primary-color);
}

.krds-btn.tertiary {
  border-color: var(--arko-primary-color);
  color: var(--arko-primary-color);
}

.krds-btn.primary {
  border-color: var(--arko-primary-color);
  background-color: var(--arko-primary-color);
}

.arko-btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--arko-contents-gap-xsmall);
}
.arko-btns.between {
  display: flex;
  justify-content: space-between;
}
.arko-btns .btns {
  display: flex;
  flex-wrap: wrap;
  gap: var(--arko-contents-gap-xsmall);
}

@media (max-width:767px) {
  .arko-btns > button {
    flex: 1;
  }
}

/* tab */
.tab > ul {
  overflow: hidden;
}
.tab .btn-tab {
  font-weight: 400;
}
.tab.line.full .btn-tab {
  padding:0 12px;
  border-bottom:1px solid #CBCCD1;
}
.tab.line .btn-tab:before {
  background-color: var(--arko-brand-color);
}

.tab.line .active .btn-tab {
  font-weight: 600;
  color: var(--arko-brand-color);
}


@media (max-width:500px) {
  .tab.full {
    overflow-x: auto;
  }
  .arko-tab-scroll-style .tab.full > ul {
    width: fit-content;
    flex-wrap: nowrap;
  }
  .arko-tab-scroll-style .tab.full > ul > li {
    flex:none;
  }
}

@media (max-width: 767px) {
    .tab-conts.active {
      gap: 0;
    }
}

/* table */
.krds-table-wrap .tbl.data thead th {
  height: 6rem;
  text-align: center;
  border-bottom: 0;
  background-color: var(--arko-background-color);
}
.krds-table-wrap .tbl.data tbody td {
  height: 6rem;
}

/* list */
.text-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.text-list > li {
  position: relative;
}
.text-list.dot > li {
  padding-left: var(--arko-contents-gap-small);
}
.text-list.dot > li::before {
  position: absolute;
  left: 0;
  top:calc(var(--arko-font-size-base) / 2 + 2px);
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #757575;
}

.title-area .text-list {
  margin-top: var(--arko-contents-gap-large);
}

/* modal */
.krds-modal .modal-dialog .modal-btn {
  justify-content: center;
}
.krds-modal .modal-dialog .modal-conts .conts-area {
  align-items: center;
}

/* 아이콘 */
.svg-icon.ico-sch {
  -webkit-mask-image: url(../img/comm/ico_sch.svg);
  mask-image: url(../img/comm/ico_sch.svg);
}

.svg-icon.ico-help {
  width: 28px;
  height: 28px;
  background: url(../img/comm/ico_help.svg) no-repeat center / contain;
  vertical-align: middle;
}

.svg-icon.ico-thum {
  width: 16px;
  height: 18px;
  -webkit-mask-image: url(../img/comm/ico_type_thum.svg);
  mask-image: url(../img/comm/ico_type_thum.svg);
  vertical-align: middle;
}

.svg-icon.ico-list {
  width: 16px;
  height: 18px;
  -webkit-mask-image: url(../img/comm/ico_type_list.svg);
  mask-image: url(../img/comm/ico_type_list.svg);
  background-color:var(--arko-primary-color);
  vertical-align: middle;
}

.svg-icon.ico-filter {
  width: 18px;
  height: 12px;
  -webkit-mask-image: url(../img/comm/ico_filter.svg);
  mask-image: url(../img/comm/ico_filter.svg);
  background-color:var(--arko-primary-color);
}

.svg-icon.ico-nodata {
  width: 96px;
  height: 91px;
  background: url(../img/comm/ico_nodata.svg) no-repeat center / contain;
  background-color: transparent;
}

.svg-icon.ico-clip {
  width: 2rem;
  height: 2rem;
  -webkit-mask-image: url(../img/comm/ico_clip.svg);
  mask-image: url(../img/comm/ico_clip.svg);
}
.svg-icon.ico-star {
  width: 2rem;
  height: 2rem;
  -webkit-mask-image: url(../img/comm/ico_star.svg);
  mask-image: url(../img/comm/ico_star.svg);
}
.svg-icon.ico-quote {
  width: 2rem;
  height: 2rem;
  -webkit-mask-image: url(../img/comm/ico_quote.svg);
  mask-image: url(../img/comm/ico_quote.svg);
}
.svg-icon.ico-list-view {
  -webkit-mask-image: url(../img/comm/ico_list.svg);
  mask-image: url(../img/comm/ico_list.svg);
}
.svg-icon.ico-view {
  -webkit-mask-image: url(../img/comm/ico_view.svg);
  mask-image: url(../img/comm/ico_view.svg);
}
.svg-icon.ico-noti {
  width: 20px;
  height: 20px;
  background: url(../img/comm/ico_noti.svg) no-repeat center / contain;
}
