@charset "utf-8";

@import url(../font/pretendard.css); /* font 정의 */

:root {
  --primary-color : #EF3B24;  
  --default-font-color : #141414;
  --default-font : 14px;
  --side-padding : 20px;  
}

/* reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, strike, tt, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, input, button, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video { margin: 0; padding: 0; font-family: "Pretendard", sans-serif; color:#141414; font-size: 14px; font-weight: 500; box-sizing: border-box;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }

p {line-height: 1.4;}
img {vertical-align: top;}

/* html::-webkit-scrollbar, body::-webkit-scrollbar {width:0;} */
button { cursor: pointer; -webkit-tap-highlight-color: rgba(0, 0, 0, 1); background-color: transparent }
button, textarea, select { box-shadow: none; cursor: pointer;  font-family: "Pretendard", "Noto Sans Korean", -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",  Roboto,"Pretendard", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;}
select {height:24px; min-width: 90px; border:1px solid #D2D7DB;}
input { /* -webkit-appearance: none; appearance: none; */ }
::-webkit-input-placeholder { color: #ACB8C2;}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

a { font-size: inherit; color: inherit; text-decoration:none; cursor:pointer; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
a, dl, dt, dd, ul, li, button, span, div, p { -webkit-appearance: none; appearance: none; box-shadow: none; border: none; border-radius: 0; -webkit-tap-highlight-color: rgba(0,0,0,0);}
a.link { display: block; }
ul, ol, li, dl, dt, dd { list-style:none; }

blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:none; }
 
table {table-layout:fixed; border-collapse: collapse; border-spacing: 0px; word-break: break-all; word-wrap: break-word; }
caption, legend { visibility:hidden;overflow:hidden;font-size:0;line-height:0; }
address,caption,cite,code,dfn,em,var {font-style: normal; font-weight: 400;}

button:disabled{opacity:0.3;}

b, strong {font-family: inherit; font-size:inherit; color:inherit; font-weight:700; letter-spacing:inherit;}

em, span, i, label{font-size:inherit; color:inherit; font-weight:inherit; letter-spacing:inherit;}


/* 대체텍스트 hidden */
.blind {position: absolute;	clip: rect(0 0 0 0); display:block; width: 1px; height: 1px; margin: -1px;	overflow: hidden;}

/*flexbox*/
.flexSb { display: -webkit-box; display: -webkit-flex; display: flex; -webkit-justify-content: space-between; justify-content: space-between; -webkit-align-items: center; align-items: center; -webkit-box-orient: horizontal; -webkit-box-pack: justify; -webkit-box-align: center; }
.flexTop { display: -webkit-box; display: -webkit-flex; display: flex; -webkit-justify-content: space-between; justify-content: space-between; -webkit-align-items: flex-start; align-items: flex-start; -webkit-box-orient: horizontal; -webkit-box-pack: justify; -webkit-box-align: start; }
.flexBottom { display: -webkit-box; display: -webkit-flex; display: flex; -webkit-justify-content: space-between; justify-content: space-between; -webkit-align-items: flex-end; align-items: flex-end; -webkit-box-orient: horizontal; -webkit-box-pack: justify; -webkit-box-align: center; }
.flexCen { display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-align: center; -webkit-align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; }
.flexSb > *, .flexTop > *, .flexBottom > *, .flexCen > * { display: block; }
.flex-1 { -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; }

.v-top {vertical-align: top !important;}
.v-mid {vertical-align: middle !important;}
.v-bot {vertical-align: bottom !important;}


/* ds-none */
.ds-none { display: none; }
.ds-block { display: block; }

/* padding */
.paBot10 { padding-bottom: 10px; }

/* margin */
.maBot10 { margin-bottom: 10px; }

/* text */
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }

.fcRed {color:#ff0000 !important}
.fcPri {color:var(--primary-color) !important}

/* ==== button ==== */
.btn-small {display: inline-block; height: 25px; padding:0 8px; border:1px solid #ED7222; border-radius: 4px; color: var(--primary-color);  background-color: #FDEFE4;}
.btn-small:hover {color:#fff; background-color: var(--primary-color);}

.btn-cta-pri {display: block; width: 100%; height:45px; border: 1px solid var(--primary-color); border-radius: 8px; color: var(--primary-color); background-color: #fff;}

/* ==== icon ==== */
[class^="ic-call"] {display: inline-block; width: 16px; height: 16px; vertical-align: middle; background: no-repeat center / contain;}
.ic-callIn {background-image: url(../images/ic_call_in.png);}
.ic-callMiss {background-image: url(../images/ic_call_miss.png);}
.ic-callOut {background-image: url(../images/ic_call_out.png);}
.ic-callNo {background-image: url(../images/ic_call_no.png);}

/* ==== form ==== */
.inpBasic {width: 100%; height: 40px; padding:0 8px; border:1px solid #E4E4E4; border-radius: 8px; font-size: 16px;}

.inpupWrap {position: relative;}
.inpupWrap > label {display: block; margin-bottom:8px;}
.inpupWrap > input {padding-right:32px;}
.btn-del {display: none; position: absolute; bottom:8px; right:8px; width: 24px; height: 24px; background: url(../images/btn_del.png) no-repeat center / contain;}
.btn-del.on {display: block;}

/* 기본 라디오 */
.radioInp {position: relative; display: inline-block;}
.radioInp > input {position: absolute; opacity: 0; width: 100%; height: 100%; cursor: pointer;}
.radioInp > input + label {display: inline-block; padding-left:22px; line-height: 18px;} 
.radioInp > input + label::before {position: absolute; left:0; display: inline-block; content: ''; width: 18px; min-width: 18px; height: 18px; margin-right:4px; vertical-align: middle; background: url(../images/ic_radio.png) 0 0 / 18px auto;}
.radioInp > input:checked + label::before {background-position: 0 bottom;}
.radioInp + .radioInp {margin-left:11px;}

/* button radio */
.radioBtn {position: relative; display: inline-block;}
.radioBtn > input {position: absolute; opacity: 0; width: 100%; height: 100%; cursor: pointer;}
.radioBtn > input + label {display: inline-flex; align-items: center; justify-content: center; min-width: 62px; height:32px; padding:8px 12px;  border:1px solid #E4E4E4; border-radius: 100px; background-color: #fff;}
.radioBtn > input:checked + label {border-color: var(--primary-color); background-color: #FDEFE4;}
.radioBtn + .radioBtn {margin-left:4px;}

.radioBtnsWrap + .inpBasic {margin-top:8px;}

/* date input */
.dateInp {position: relative; width: 100%;}
.dateInp input[type="date"] {appearance:none; -webkit-appearance:none; -moz-appearance:none; width: 100%; height:40px; padding:0 8px; border:1px solid #E4E4E4; border-radius: 8px; text-align: left; background-color: #fff; }
.dateInp input[type="date"]::-webkit-calendar-picker-indicator {position:absolute; right:16px; width:21px; height:21px; cursor:pointer; opacity:0;}
.dateInp input[type="date"]::after {content: ''; position: absolute; top:50%; right: 16px; transform: translateY(-50%); width: 21px; height: 21px; pointer-events: none; background: url(../images/ic_date.png) no-repeat center / contain;}
.dateInp input[type="date"]::-webkit-date-and-time-value{text-align:left;}
.dateInp input[type="date"]::-webkit-datetime-edit{text-align:left;}
.dateInpWrap {display: flex; align-items: center; gap: 8px;}
.dateInpWrap > * {}

/* 검색박스 */
.searchBox {margin-bottom:20px;}
.searchBox__head {position: relative; padding:8px 20px; border-radius: 16px; color:#fff; background-color: #ADADAD;}
.searchBox__head > h3 {font-size: 16px; color:#fff; font-weight: 600;} 
.searchBox__btn {position: absolute; right:15px; top:3px; width: 30px; height: 30px; background: url(../images/btn_search_down.png) no-repeat center / 12px 12px;}
.searchBox__body {display: none; padding:24px 20px 32px; border:1px solid #E4E4E4; border-top:0;  border-radius: 0 0 16px 16px;}
.searchBox__row + .searchBox__row {margin-top:16px;}
.btn-search {display: block; width: 100%; height: 40px; border:1px solid #FFD5CF; border-radius: 100px; color:#EF3B24; font-size: 16px; background-color: #FFF5F5;}
.radioBtnsWrap + .inpupWrap {margin-top:8px;}
.searchBox__btns {margin-top:16px;}
.searchBox.open .searchBox__head {border-radius: 16px 16px 0 0; background-color: var(--primary-color);} 
.searchBox.open .searchBox__btn {background: url(../images/btn_search_up.png) no-repeat center / 12px 12px;}
.searchBox.open .searchBox__body {display: block;}

.searchNoneData {padding:24px; text-align: center; color:#898C8E; font-size: 16px;}

/* ==== layout ==== */
.header {display: flex; justify-content: space-between; align-items: center; height:52px; padding:0 var(--side-padding); border-bottom:1px solid #00000033; background-color: #fff;}
.header__logo {width: 62px; height: 32px; background: url(../images/new_logo.png) no-repeat center / contain;}

.utility {display: flex; align-items: center; gap: 19px;}
.log > dl {display: flex; gap: 8px;}
.log > dl > dd::before {content: ''; display: inline-block; width: 1px; height: 8px; margin-right:8px; vertical-align: middle; background-color: #898C8E;}
.sitemap__btn {display: block; width: 30px; height: 30px; background: url(../images/btn_menu.png) no-repeat center / contain;}

.gnb {display: none; position: fixed; z-index: 99999; top:0; right:0; bottom:0; left:0; background: rgba(0, 0, 0, 0.7);}
.gnb__cont {display: none; position: fixed; z-index: 2; top:0; right:0; bottom:0; transform: translateX(100%); transition:transform .2s .2s ease; width: 220px; background-color: #fff;}
.gnb__head {display: flex; justify-content: space-between; align-items: center; height: 55px; padding:0 14px;}
.gnb__head .btn-home {display: block; width: 30px; height: 30px; background: url(../images/btn_home.png) no-repeat center / 18px 19px;}
.gnb__head .btn-gnb-close {display: block; width: 30px; height: 30px; background: url(../images/btn_gnb_close.png) no-repeat center / 18px 18px;}
.gnb__title {display: flex; align-items: center; justify-content: space-between; height: 45px; padding:0 20px;  background: var(--primary-color) url(../images/ic_arr_down.png) no-repeat right 20px center / 12px 9px;}
.gnb__title > p {display: block; color: #fff; font-size: 16px;}
.gnb__menu > li {border-bottom:1px solid #D9D9D9;}
.gnb__menu > li > a {display: block; padding:14px 20px;}

.gnb__foot {position: absolute; bottom:0; display: flex; align-items: center; width: 100%; height: 45px; padding:0 20px; border-top:1px solid #D9D9D9; background-color: #F5F5F5;}
.btn-logout {display: block; padding-left:24px; line-height: 1.4; background: url(../images/ic_logout.png) no-repeat left center / 16px 18px;}

.gnb.open {display: block;} 
.gnb.open > .gnb__cont {transform: translateX(0);}

.content {padding:20px var(--side-padding) 40px; }
.title3 {margin-bottom:10px; color: #000; font-size: 16px; font-weight: 600;}






/* ==== layer ==== */
.bottomSheet {display: none;}
.bottomSheet__container {position: fixed; bottom:0; transform: translateY(100%); transition: .2s .2s ease; display: flex; flex-direction: column; width: 100%; border-radius: 16px 16px 0 0; border-top:3px solid #FF0000; background-color: #fff;}
.bottomSheet__head {height: 59px; padding:20px;}
.bottomSheet__head > h1 {color: #000; font-size: 16px; font-weight: 600;}
.bottomSheet__body {overflow-y: auto; min-height:45vh; max-height: 45vh; padding:0 20px 20px;}
.bottomSheet__closeBtn {position: absolute; right:12px; top:15px; width: 30px; height: 30px; background: url(../images/btn_layer_close.png) no-repeat center / 12px 12px;}
.bottomSheet.open {display: block;}
.bottomSheet.open .bottomSheet__container {transform: translateY(0);}




/* ==== content ==== */
.callList__title {padding:8px 20px; border-radius: 20px 20px 0 0; font-weight: 500; color:#fff; background-color: #ADADAD;}
.callList__list {padding:12px 20px 20px; border:1px solid #E4E4E4; border-top:0; border-radius: 0 0 20px 20px;}
.callList__list > li {position: relative; padding:8px 0 8px 24px;}
.callList__list > li + li {border-top:1px solid #E4E4E4;}
.callList__state {position: absolute; left:0;}
.callList__info > dd {display: flex; justify-content: space-between; align-items: center; margin-top:4px;}
.callList__info .btns > .btn-small {margin-left:8px;} 


.call--newly .callList__title {background-color: var(--primary-color);}
.call--newly .callList__title::before {content: ''; display: inline-block; width: 20px; height: 20px; margin-right:13px; vertical-align: middle; background: url(../images/ic_call.png) no-repeat center / contain;}
.callList + .callList {margin-top:20px;}



.tableWrap {overflow: hidden; margin-top:20px; border:1px solid #E4E4E4; border-radius: 16px;}
.tableWrap table {width: 100%;}
.tableWrap th {height:50px; padding:8px 16px; border-right:1px solid #E4E4E4; border-bottom:1px solid #E4E4E4; text-align: left; color: #6D6E71; line-height: 1.4; background-color: #F9F9F9;}
.tableWrap td {height:50px; padding:8px 16px; border-bottom:1px solid #E4E4E4; line-height: 1.4; word-break: keep-all; background-color: #ffffff;}
.tableWrap tr:last-child th,
.tableWrap tr:last-child td {border-bottom:0}
.tableWrap:first-child {margin-top:0;}


/* 상담관리 */
.content-counsel {position: relative; padding-bottom:105px;}
.counsel__body {height:100%;}
.counsel__foot {position: fixed; bottom:0; display: flex; gap: 8px; width: 100%; padding: 20px; border-top:1px solid #EAEAEA; background-color: #F9F9F9;}

.tab {background-color: #fff;}
.tab > ul {display: flex;}
.tab > ul > li {position: relative; flex: 1; border-bottom:1px solid #E4E4E4;}
.tab > ul > li > button {display: block; width: 100%; height: 50px; }
.tab > ul > li.selected::after {content: ''; position: absolute; bottom:-1px; display: block; width: 100%; height: 3px; background-color: var(--primary-color);}

.counsel__info {padding:20px var(--side-padding); background-color: #FFFAF5;}
.counsel__cont {padding:20px var(--side-padding);}

.accordionBox__head {position: relative; padding:8px 20px; border-radius: 16px; color:#fff; background-color: #ADADAD;}
.accordionBox__head > h3 {font-size: 16px; color:#fff; font-weight: 600;} 
.accordionBox__btn {position: absolute; right:15px; top:3px; width: 30px; height: 30px; background: url(../images/btn_search_down.png) no-repeat center / 12px 12px;}
.accordionBox__body {display: none; padding:24px 20px; border:1px solid #E4E4E4; border-top:0;  border-radius: 0 0 16px 16px;}
.accordionBox__row + .accordionBox__row {margin-top:8px;}
.accordionBox__btns {margin-top:16px;}

.accordionBox.open .accordionBox__head {border-radius: 16px 16px 0 0; background-color: var(--primary-color);} 
.accordionBox.open .accordionBox__btn {background: url(../images/btn_search_up.png) no-repeat center / 12px 12px;}
.accordionBox.open .accordionBox__body {display: block;}
.accordionBox + .accordionBox {margin-top:20px;}
